$bgcolor: #e2e2e2; //

body
{
    background-color: $bgcolor;
}

// Title
.title
{
    font-family: sans-serif;
}

// Description
.desc
{
    font-family: sans-serif, Verdana;
    margin: 1px;
    padding: 2px;
}

// Content
.content
{
    display: block;
    margin: 9px;
}

// Start Button
#startButton
{
    font-family: Georgia, Helvetica;
    font-size: 18px;
    padding: 5px;
}
